# Python files to ignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Logs
.cache/
*.log

# Virtual environment
venv/
.env

# Data directories
data_analysis/data/raw/
data_analysis/data/processed/
data_analysis/data/final/

# Development tools
.idea/
.vscode/
*.swp

